.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
  font-family: Arial, sans-serif;
  color: #333;
}


.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 200px;
  height: 100px;
  margin: 10px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.option:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.option:active {
  transform: scale(0.95);
}
  
.option:nth-child(1) {
  background: linear-gradient(135deg, #1E90FF, #1C75E8);
}

.option:nth-child(2) {
  background: linear-gradient(135deg, #FFA500, #FF8C00);
}

.option:nth-child(3) {
  background: linear-gradient(135deg, #32CD32, #2EB82E);
}